@font-face {
  font-family: "Lato";
  src: url("./Lato-Regular.ttf");
}

:root{
  --text-color: white;
  --bg-color: #191e29;
  --translucent-bg: #696e7980;
/*  --border-color: #132D46; */
/*  --border-color: #696e79; */
  --border-color: #807f7f; 
  --accent:#01ce8d;
}

body{
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1{
  text-align: center;
  font-size: 2.5rem;
  user-select: none;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.board{
  width: 400px;
  height: 400px;
  margin: 3rem 0;

  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.cell{
  border-right: var(--border-color) 4px solid;
  border-bottom: var(--border-color) 4px solid;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3.6rem;
  user-select: none;
}

.cell:nth-child(3n){
  border-right: none;
}

.cell:nth-child(n + 7){
  border-bottom: none;
}

.player{
  text-align: center;
}

.player path{
  fill:var(--text-color)
}

.player h3{
  margin: 0;
}

.fixed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.center-vertical{
  display: grid;
  justify-content: center;
  align-content: center;
}

.center-horizontal{
  display: flex;
  justify-content: center;
  gap: 60px;
}

.translucent-bg{
  background-color: var(--translucent-bg);
}

.translucent-bg h2{
  font-size: 3.3rem;
}

.translucent-bg span{
  color: var(--accent);
}

button{
  background-color: var(--accent);
  border: none;
  border-radius: 12px;
  color: var(--text-color);

  width: 130px;
  height: 50px;
  font-size: 1.3rem;
  font-weight: 500;

  cursor: pointer;
}

button:hover{
  opacity: 0.8;
}

button:active{
  opacity: 0.6;
}